fastapi
uvicorn

streamlit

requests
python-dotenv

pydantic
pydantic-settings

langchain
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters

sentence-transformers
faiss-cpu

beautifulsoup4
lxml

yfinance

pandas
numpy

reportlab

python-multipart

openai
